---
import Dropdow from "./Dropdow.astro";
---

<div class="flex items-center w-[80%] h-[400px] mt-[20%] bg-white/45">
    <div class="w-[50%] space-y-5 ml-10">
        <div>
            <div class="border-b-2 border-purple-700 h-9 w-[50%]">
                <h2 class="font-medium text-gray-700">Applications</h2>
            </div>
            <p class="text-[12px] text-gray-500">Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
            <h2 class="font-medium text-gray-700">Add your first service</h2>
            <p class="text-[12px] text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eius consequatur pariatur.</p>
        </div>
        <div>
            <Dropdow/>
        </div>
    </div>
</div>