
<details class="h-[80px] cursor-pointer">
    <summary class="flex justify-center list-none bg-blue-700 text-white w-[30%] rounded-md">
        Add Service
    </summary>
    <div class="flex justify-center flex-col bg-white w-[30%] mt-2">
        <ul class="hover:bg-gray-400/20 h-8">Aplication</ul>
        <ul class="hover:bg-gray-400/20 h-8">Database</ul>
    </div>
</details>
